<html>
  <body>
    <div class="errors">
      <% if post.errors.any? %>
        <% post.errors.each do |attr, error| %>
          <p class="error" style="color:orange" %>
            <%= attr %> : <%= error %>
          </p>
        <% end %>
      <% end %>
    </div>
    
    <form method="post" action="/create_post">
      <label>Title</label>
      <input id="title" name="title" type="text" value="<%= post.title %>" />
      <br /> <br />
      
      <label>Body</label>
      <textarea id="body" name="body" rows="4"><%= post.body %></textarea>
      <br /> <br />
      
      <label>Author</label>
      <input id="author" name="author" type="text" value="<%= post.author %>" />
      <br /> <br />
      
      <input type="submit" value="Create Post" />
    </form>
    
    <!-- with form_tag -->

      <!--<%= form_tag url_for(action: 'create'), method: "post" do %>-->
  
      <!--  <%= label_tag 'Title' %>-->
      <!--  <%= text_field_tag 'title', @post.title %>-->
      <!--  <br /> <br />-->
  
      <!--  <%= label_tag 'Body' %>-->
      <!--  <%= text_area_tag 'body', @post.body %>-->
      <!--  <br /> <br />-->
  
      <!--  <%= label_tag 'Author' %>-->
      <!--  <%= text_field_tag 'author', @post.author %>-->
      <!--  <br /> <br />-->
  
      <!--  <%= submit_tag "Create Post" %>-->
  
      <!--<% end %>-->

    <!-- ... -->
    
    <br />
    
    <!-- link back to the list of post -->
    <a href="/list_posts">Back to Posts</a>
  </body>
</html>